/*
 *= require bootstrap
 *= require custom-theme/jquery-ui-1.10.0.custom
 *= require sticky-footer
 */

#wrap {
  margin-bottom: -70px;
}

#push, #footer {
  height: 60px;
  text-align: center;
}

#loading {
  display: none;
  text-align: center;
  margin: 100px;
}

.form-group.url {
  padding-right: 80px;
}

.submit-url {
  float: right;
  margin-top: -49px;
  width: 70px;
}

.navbar {
   filter: alpha(opacity=50);
  -moz-opacity:0.8;
  opacity:0.8;
}

