.top-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  z-index: -2;
  background-image: url(top_bg.jpg);
  background-size: cover;
}

.top-hero {
  padding: 20px 0 60px 0;
}

.top-hero p {
  color: #fff;
}

.top-content {
  margin-top: 50px;
}

#social {
  text-align: right;
  margin-bottom: 10px;
}

.fb-like {
}

.twitter-share-button {
    margin-left: 0;
    width: 100px !important;
}
